.column-taxonomy_image_plugin, .column-taxonomy_icon {
	display: none;
}
.logoBlanco_BBVAbancomer {
	content: url('../images/logosPaises/logoBlanco_BBVAbancomer.svg');
}
.logoBlanco_BBVAcompass {
	content: url('../images/logosPaises/logoBlanco_BBVAcompass.svg');
}
.logoBlanco_BBVAcontinental {
	content: url('../images/logosPaises/logoBlanco_BBVAcontinental.svg');
}
.logoBlanco_BBVAfrances {
	content: url('../images/logosPaises/logoBlanco_BBVAfrances.svg');
}
.logoBlanco_BBVAprovincial {
	content: url('../images/logosPaises/logoBlanco_BBVAprovincial.svg');
}
.logoBlanco_BBVA {
	content: url('../images/logosPaises/logoBlanco_BBVA.svg');
}