$icomoon-font-path: "fonts" !default;

$bbva-icon-publication-clip: "\e93f";
$bbva-icon-arrow-download: "\e93e";
$bbva-icon-reply-icon: "\e93c";
$bbva-icon-twitter2: "\e93d";
$bbva-icon-ico-arrowup: "\e93b";
$bbva-icon-audio2: "\e938";
$bbva-icon-chat2: "\e939";
$bbva-icon-quote2: "\e93a";
$bbva-icon-arrow2: "\e937";
$bbva-icon-ico_email: "\e934";
$bbva-icon-linkedin2: "\e935";
$bbva-icon-web2: "\e936";
$bbva-icon-facebook-circle: "\e92f";
$bbva-icon-google-plus-circle: "\e930";
$bbva-icon-linkedin-circle: "\e931";
$bbva-icon-pinterest-circle: "\e932";
$bbva-icon-twitter-circle: "\e933";
$bbva-icon-calendar-01: "\e92d";
$bbva-icon-pdf-01: "\e92e";
$bbva-icon-coffe: "\e92c";
$bbva-icon-arrow: "\e91f";
$bbva-icon-cash: "\e920";
$bbva-icon-facebook_link: "\e921";
$bbva-icon-filter: "\e922";
$bbva-icon-less: "\e923";
$bbva-icon-link_external: "\e924";
$bbva-icon-minus: "\e925";
$bbva-icon-more: "\e926";
$bbva-icon-plus: "\e927";
$bbva-icon-twitter_link: "\e928";
$bbva-icon-twitter: "\e929";
$bbva-icon-view: "\e92a";
$bbva-icon-youtube: "\e92b";
$bbva-icon-world_carrusel-path1: "\e91a";
$bbva-icon-world_carrusel-path2: "\e91b";
$bbva-icon-world_carrusel-path3: "\e91c";
$bbva-icon-world_carrusel-path4: "\e91d";
$bbva-icon-BBVA: "\e91e";
$bbva-icon-alert: "\e900";
$bbva-icon-arrow_bottom: "\e901";
$bbva-icon-arrow_up: "\e902";
$bbva-icon-audio: "\e903";
$bbva-icon-check: "\e904";
$bbva-icon-close: "\e905";
$bbva-icon-comments: "\e906";
$bbva-icon-commerce: "\e907";
$bbva-icon-configuration: "\e908";
$bbva-icon-document: "\e909";
$bbva-icon-favorite: "\e90a";
$bbva-icon-get_out: "\e90b";
$bbva-icon-go: "\e90c";
$bbva-icon-help: "\e90d";
$bbva-icon-info: "\e90e";
$bbva-icon-loan: "\e90f";
$bbva-icon-mail: "\e910";
$bbva-icon-menu: "\e911";
$bbva-icon-pin: "\e912";
$bbva-icon-play: "\e913";
$bbva-icon-quote: "\e914";
$bbva-icon-return: "\e915";
$bbva-icon-search: "\e916";
$bbva-icon-share: "\e917";
$bbva-icon-video_chat: "\e918";
$bbva-icon-web: "\e919";

