@charset "UTF-8";

@media screen and (min-width: 1680px){
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box figure img {width: 130% !important;height:130% !important;left: 30% !important;margin-left: -840px !important;}
}
@media screen and (min-width: 1281px){
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal,
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box {height:526px;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box figure {width:100%;height:526px;overflow:hidden}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box figure img {width: 1680px;height:526px;position: relative;left: 50%;margin-left: -840px;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box .wrapperContent {margin-top:-460px}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box .fotoInfo_container {width:520px;/*height:251px;*/}
}

@media screen and (max-width: 1025px){
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal,
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box {height:400px;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box figure {width:100%;height:400px;overflow:hidden}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box figure img{width: 1277px;height: 400px;position: relative;left: 50%;margin-left: -638.5px;}
}

@media screen and (max-width: 930px){
.wrapperFluid .wrapperContent {width:684px;margin: 0px auto;padding:0px;}
.wrapperFix {width:684px;margin: 0px auto;padding:0px;}
ul.lista_1col li {width:100%;margin-right:0px;}
ul.lista_2col li {width:47%;margin-right:6%;}
ul.lista_3col li {width:29.5%;margin-right:5%;}
ul.lista_4col li {width:24.2%;margin-right:6%;}
ul.lista_2col li:nth-child(2n),
ul.lista_3col li:nth-child(3n+3),
ul.lista_4col li:nth-child(2n){margin-right:0px;}
/**********************************
	header y footer
*************************************/
/*_____header_____*/
#header_logo #header_logoPaisImagen{margin-top:45px;}
#header_logo #header_logoPaisImagen img{width:88%;}
#header_logo #header_logoPaisClaim {font-size:1.6rem;top:55px;}
.pais #header_tools .wrapperPosicionado {margin-top:-144px;}
#buscadorGeneral_mostrarClick_escritorio .grupo_title {text-align:left;}
.moduloContenido_buscadorGeneral form {width:100%;}
.moduloContenido_buscadorGeneral .col31 {width: 210px;}
.moduloContenido_buscadorGeneral input {width:210px;}
main .moduloContenido_buscadorGeneral input#buscarGeneral_inputQue {margin-top:-17px;}
#buscadorGeneral_mostrarClick_escritorio .buscadorGeneral_content .section_textoDestacado {text-align:left;}
#buscadorGeneral_mostrarClick_escritorio .buscadorGeneral_cerrarContenidoOculto {top:-58px;}
/*_____menu navegacion_____*/
ul#mainMenuNavegacion li.mainMenu_n1 a.mainMenu_link_n1 {padding:0px 10px; text-align:left;}
ul#mainMenuNavegacion li.mainMenu_n1 a.mainMenu_link_n1:hover, ul#mainMenuNavegacion .mainMenu_n1.abierto a.mainMenu_link_n1 {padding-left:11px;}
ul#mainMenuNavegacion li.mainMenu_n1 .mainMenuNavegacion_n2_content {width:680px;}
	#item_00 .mainMenuNavegacion_n2_content {left:0px;}
	#item_01 .mainMenuNavegacion_n2_content {left:-135px;}
	#item_02 .mainMenuNavegacion_n2_content {left:-270px;}
	#item_03 .mainMenuNavegacion_n2_content {left:-405px;}
	#item_04 .mainMenuNavegacion_n2_content {left:-540px;}
/*_____footer_____*/
footer .wrapperFluid .colCompleta {margin:0 auto;}
#footer_desplegablesInfo .acordeon_texto ul li {width:48%;}
#footer_logos ul {float: none;margin: 20px 0;text-align: center;}
#footer_logos ul li {margin:0px 45px 0px 0px;float:left;height:50px;}
#footer_logos ul li.item_01 {float:left;margin:0px 45px;}
#footer_logos ul li.item_05{float:left;margin:0px 45px 0px 190px;}
#footer_logos ul li.item_06.last {float:left;}
#footer_tools .colPpal {float:left;width:460px;margin:0px 0px 0px 0px;}
#footer_tools .colDcha {float:right;width:220px;margin:0px;}
.politicaLinks li {margin:0 5px 0 0; padding:0 5px 0 0;}
/**********************************
	  modulos
***********************************/

}


@media screen and (max-width: 684px){
/*grid*/
.wrapperFluid .wrapperContent {width:90%;margin: 0px auto;padding:0px;}
.wrapperFix {width:90%;margin: 0px auto;padding:0px;}
.contenidoSoloWeb {display:none;}
.contenidoSoloSmartphone {display:block;}
ul.lista_1col li{width:100%;margin-right:0px;}
ul.lista_2col li{width:100%;margin-right:0%;}
ul.lista_3col li{width:100%;margin-right:0%;}
ul.lista_4col li{width:100%;margin-right:0%;}
/**********************************
	header y footer
*************************************/
#mainHeader .wrapperFluid{min-height: 152px;}
/*_____header_____*/
#header_logo {margin-bottom:0px;}
#header_logo .coloresBBVA {width:100%;margin:0px;padding:0px;float:left;display:block;}
#header_logo .coloresBBVA span{width:16.66%;height:10px;margin:0px;padding:0px;display:block;float:left;}
#header_logo #header_logoPais {background:none;height:107px;}
#header_logo #header_logoPaisImagen {margin:17px 0px 0px 0px;}
#header_logo #header_logoPaisImagen img{width:72%;}
#header_logo #header_logoPaisClaim {font-size:1.2em;top:0px;float:left;margin:0px 0px 0px 0px;width:100%;}
/* menu navegacion */
#menu_navegacionPrincipal {background-color:#fafbfd;height: auto;margin-top:0px;}
#menu_navegacionPrincipal .wrapperContent {width:100%}
#menu_navegacionPrincipal .menu_mainMenu_smartphone {margin:-44px 0px 0px 0px;display:block;width:50%;height:44px;float:right;border-top:1px solid #ededf0;border-bottom:1px solid #ededf0;}
#menu_navegacionPrincipal .menu_mainMenu_smartphone a{display:block;width:100%;height:42px;text-align:center;}
#menu_navegacionPrincipal .menu_mainMenu_smartphone a:hover{background-color:#fafbfd;}
#menu_navegacionPrincipal .menu_mainMenu_smartphone a.open{background-color:#fafbfd;}
#menu_navegacionPrincipal .menu_mainMenu_smartphone a.icon-mainmenuSmartphone.open:before {content:'\e626'/*icono X*/;color:#004a9b;font-size:24px;margin-top:10px;}
#menu_navegacionPrincipal .menu_mainMenu_smartphone a.icon-mainmenuSmartphone.closed:before {content:'\e606'/*icono MENU*/;color:#004a9b;font-size:42px;margin-top:0px;display:block;}
#menu_navegacionPrincipal #mainMenuNavegacion {background-color:#fafbfd;background-image:none;float:none;width:90%;margin:0 auto;}
#menuPrincipalWeb {display:none;float:left;}
ul#mainMenuNavegacion li.mainMenu_n1 {width:100%;background-image:none;background-color:#fafbfd;}
ul#mainMenuNavegacion li.mainMenu_n1 a.mainMenu_link_n1 {width:100%;padding:0 5px;border-bottom:1px solid #ededf0;background-image:none;height: 50px;text-align:left;}
ul#mainMenuNavegacion li.mainMenu_n1 a.mainMenu_link_n1:hover{width:100%;margin:0px;padding:0 15px;background-color:fff;border-bottom:1px solid #ededf0;}
ul#mainMenuNavegacion li.mainMenu_n1 a.mainMenu_link_n1:after {content:'' !important;}
ul#mainMenuNavegacion li.mainMenu_n1 a.mainMenu_link_n1.abierto .mainMenuNavegacion_n2_content {display:none !important;}
#menuPrincipalWeb_mostrarClick_movil, #buscadorGeneral_mostrarClick_movil {display:none;}
/* buscador general */
#header_buscadorGeneral .wrapperContent {width:100%}
#header_buscadorGeneral .wrapperPosicionado {top:0px;margin-top:0px;position:relative;width:50%;z-index:10000;float:left;}
#header_buscadorGeneral #buscadorGeneral_lupa {margin:0px 0px 0px 0px;width:100%;height:44px;border-bottom:1px solid #ededf0;border-top:1px solid #ededf0;border-right:1px solid #ededf0;}
#header_buscadorGeneral #buscadorGeneral_lupa a {width:100%;height:42px;display:block;float:left;}
#header_buscadorGeneral #buscadorGeneral_lupa a:hover, #header_buscadorGeneral #buscadorGeneral_lupa a.icon-lupa.open {background-color:#fafbfd;}
#header_buscadorGeneral #buscadorGeneral_lupa a.icon-lupa.closed:before {font-size: 25px;margin:8px 42%;padding:0px;border:none;}
#header_buscadorGeneral #buscadorGeneral_lupa a.icon-lupa.open:before {font-size:25px;color:#004a9b;margin:8px 42%;padding:0px;border:none;}
#buscadorGeneral_mostrarClick_movil.moduloContenido_buscadorGeneral {height: 240px;position:relative;float:left;width:100%;}
.moduloContenido_buscadorGeneral form {width:100%;}
.moduloContenido_buscadorGeneral [class*="col3"] {float: none;margin: 10px auto;width: 300px;}
.moduloContenido_buscadorGeneral .grupo_title {margin-bottom:10px;}
.moduloContenido_buscadorGeneral button.botonVerde {margin-bottom:0px;width:300px;}
.moduloContenido_buscadorGeneral .sbHolder {width:100%;}
main .moduloContenido_buscadorGeneral {margin-top:-2px;margin-bottom:0px;}
main .moduloContenido_buscadorGeneral .section_textoDestacado {text-align:left;margin-top:0px;font-size:1.4rem;margin-bottom:15px;}
#buscadorGeneral_mostrarClick_movil.moduloContenido_buscadorGeneral  .section_textoDestacado{color: #4E4F4F; font-size:1.4rem;margin:15px 0px 19px 3px;}
/* tools header */
.pais #header_tools {background-color: #fafbfd;float: left;width: 100%;}
.pais #header_tools .wrapperPosicionado {display: none;}
.pais #header_tools .wrapperPosicionado{margin:0px 0px 0px 0px;top:0px;right:0px;position:relative;float:left;width:100%;z-index:1000;}
.pais #header_tools ul{float:left;position:relative;width:100%;background-color:#fafbfd;padding: 11px 5px;margin:0px;}
.pais #header_tools ul#recursivos_directLinks {top:-15px;}
.pais #header_tools ul#recursivos_idiomasPortal {top:-93px;}
.pais #header_tools ul#recursivos_idiomasPortal li {border:none;}
.pais #header_tools ul#recursivos_redesFollow {top:75px;margin:0px auto;text-align:center;border:none;min-height: 52px;}
.global #header_tools .wrapperPosicionado{margin:0px 0px 10px 0px;top:-4px;right:0px;position:relative;float:left;width:100%;z-index:1000;}
.global #header_tools ul{float:left;position:relative;padding: 0px;margin:1px 0px 0px 0px;}
.global #header_tools ul#recursivos_directLinks {display:none;}
.global #header_tools ul#recursivos_idiomasPortal {top:4px;}
.global #header_tools ul#recursivos_idiomasPortal li {border:none;}
.global #header_tools ul#recursivos_redesFollow {top:0px;float:left;padding: 0px;margin:0px 10px 0px 0px;text-align:center;border:none;}
.global #header_tools ul.redesFollow li a:before {font-size:27px;}
.global #header_tools ul.redesFollow li {margin-right:6px;}
/*_____footer_____*/

#footer_logos ul {margin:0px 0px;}
#footer_logos ul li {margin:0px 0px 0px 0px!important;border-bottom:1px solid #0067b5;width:100%;text-align:center;height:56px;}
#footer_logos ul li.last {border-bottom:none;}
#footer_logos ul li img{width:auto;float:none;margin:18px auto 0px auto;}
#footer_desplegablesInfo .acordeon_texto {padding: 0px 0px 10px 0px;width:100%;}
#footer_desplegablesInfo .acordeon_texto ul li {width:100%;}
#footer_desplegablesInfo ul.mainMenuNavegacion_n2 {margin:10px 0px;}
#footer_desplegablesInfo ul.mainMenuNavegacion_n2 li {width:100%;float:left;}
#footer_tools .colDcha:after, #footer_tools .colPpal:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
#footer_tools.colCompleta {margin:0 auto;}
#footer_tools .colPpal {float:left;width:100%;margin:10px 0px 10px 0px;text-align:center;}
#footer_tools .colDcha {float:left;width:100%;margin:0px;text-align:center;}
#footer_tools ul#recursivos_redesFollow {margin:0px auto;padding:0 0 20px 0px;float:none;width:auto;}
#footer_tools ul#recursivos_redesFollow li {margin-right: 39px;}
#footer_tools ul#recursivos_redesFollow li.last {margin-right: 0px;}
#footer_tools ul#recursivos_redesFollow li a:before {font-size:33px!important;}
#footer_tools ul#footer_politicaLinks {width:100%;margin:20px auto;padding-top:20px;text-align:center;border-top:1px solid #e4e8eb;}
#footer_tools ul#footer_politicaLinks li {width:auto;}
.pais ul#footer_politicaLinks li:nth-child(3), .pais #footer_politicaLinks li:nth-child(5) {border-right:none;}
.global ul#footer_politicaLinks li:nth-child(3), .global #footer_politicaLinks li:nth-child(5) {border-right:none;}
#footer_copy, #footer_logoPais {float:none;width:100%;text-align:center;margin:20px auto;}
#footer_logoPais img{height:26px;}
#subirMovil {display:block;}
/**********************************
	  modulos
***********************************/
/*clases comunes en todos los modulos*/
.section_titulo {font-size:1.375rem;}
.section_textoDestacado {font-size:1.7rem;}
.section_texto {line-height:1.5em;}
.section_datoNumero {font-size:2rem;}
.section_datoTexto {font-size:3.5rem !important;}
.section_verTodos {margin:0px 0px 30px 0px;width:100%;}
.section_verTodos a{margin:10px 0px 0px 0px;text-align:center;}
hr.lineaCorta {width:200px;}
input[type="text"] {width:100%;} 
[class^="boton"], button {width:300px;float:none;margin:0 auto;}
.sbHolder {width:300px;}
main .wrapperFluid [class*="moduloContenido_"] {padding:25px 0px;}
/*_____ introduccion de cada pagina _____*/
.moduloContenido_introPagina {margin-top:0px;padding:0px !important;}
.moduloContenido_introPagina .pagina_titulo {font-size:1.8rem;margin:20px 0px;padding:0px 0px 0px 0px;text-align:left;}
.moduloContenido_introPagina .pagina_texto, .moduloContenido_introPagina hr.lineaGris + p {width: 90%;float:none;margin:10px auto;}
.moduloContenido_introPagina .pagina_volver {display:none;}
.moduloContenido_introPagina .pagina_migas {width:100%;}
.moduloContenido_introPagina hr {display:none;}
#bloque_introPagina .texto_home {width: 90%;float:none;margin:10px auto;}
/*_____ Carrousel promocional _____*/
.moduloContenido_carruselPromocionalHeader .carruselPromocional {border-bottom:1px solid #ededf0;position:relative;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal {height:440px;margin:0 auto;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box figure {height:285px;overflow:hidden;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box figure img {width:auto;height:285px;left:19%;margin-left: -393.5px;position: relative;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box .wrapperContent {margin-top:0px;margin-bottom:0px;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box .fotoInfo_container {width:100%;background-color:#fff;text-align:center;height: auto;float:left;padding:10px 0px; overflow:visible;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box .fotoInfo_container:before {content:url('../images/carrusel-pico-movil.png');color:#fff;text-align:center;font-size:20px;float:left;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box#promo_01 .fotoInfo_container:before {margin:-29px 0 0 40%;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box#promo_02 .fotoInfo_container:before {margin:-29px 0 0 46%;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box#promo_03 .fotoInfo_container:before {margin:-29px 0 0 52%;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box .fotoInfo_titulo {font-size:2em;}
.moduloContenido_carruselPromocionalHeader ul.tabs_menuHorizontal {top:250px;z-index:100;width: 80px;left:41%;position:absolute}
.moduloContenido_carruselPromocionalHeader ul.tabs_menuHorizontal li.tab_boton {background-color:transparent;margin:0px 3px 0px 0px;width:20px;height:20px;padding:0px;border:0px;}
.moduloContenido_carruselPromocionalHeader ul.tabs_menuHorizontal li.tab_boton .textoIconoOcultar {text-indent:-9999px;}
.moduloContenido_carruselPromocionalHeader ul.tabs_menuHorizontal li.tab_boton:before {content:'\e615';font-size:10px;color:#fff;margin:0px 0px 0px 0px;font-family:"BBVA Icons";}
.moduloContenido_carruselPromocionalHeader ul.tabs_menuHorizontal li.tab_boton.active {background-color:transparent;}
.moduloContenido_carruselPromocionalHeader ul.tabs_menuHorizontal li.tab_boton.active:before {color:#009fe5;font-size:10px;margin:4px 0px 0px 4px;}

/*_____ Paginacion _____*/
.navigation ul li:first-child{display:block;}
.navigation ul li:last-child{display:block;}
.pagination_responsive .sbHolder{width: 60%;float: left;}
.icon-anterior_f {width: 20%;}
.icon-siguiente_f {width: 19%;}
.icon-anterior_f {float: left;}
.icon-siguiente_f {float: right;text-align: right;}
.icon-anterior_f , .icon-siguiente_f {font-size: 0.9em;}
.icon-anterior_f span, .icon-siguiente_f span{display: none;}
.icon-anterior_f:before, .icon-siguiente_f:after {position: relative;top: 1px;}
.pagination_responsive .sbHolder a {}
.pagination_responsive .sbHolder a.active{color:#6f7070;}
.disable {color:#6f7070;height: 1px;}
.icon-anterior_f:before{content:'\e602';color:#009ee5;font-size: 3.2em;margin-left: 4%;margin-right: 2%;}
.icon-siguiente_f:after{content:'\e601';color:#009ee5;font-size: 3.2em;margin-left: 2%;margin-right: 4%;}
.icon-anterior_f:hover:before{color: #00c3ff;}
.icon-siguiente_f:hover:after{color: #00c3ff;}
.paginacionBottom {display: none;}
.pagination_responsive {display: block;}
}

@media screen and (max-width: 360px){
/**********************************
	  modulos
***********************************/
/*_____ Carrousel promocional _____*/
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box figure img {margin-left:-523.5px;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box#promo_01 .fotoInfo_container:before {margin:-29px 0 0 116px;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box#promo_02 .fotoInfo_container:before {margin:-29px 0 0 140px;}
.moduloContenido_carruselPromocionalHeader ul.tabs_contentHorizontal li.tab_box#promo_03 .fotoInfo_container:before {margin:-29px 0 0 163px;}

}
